body {
  background-color: #343434;
  color: #eeeeee;
  text-align: center;
}

.custom-style a {
  color: #eeeeee;
}

.travel {
  padding-top: 50px;
}

.market {
  padding-top: 50px;
}

.chart-container {
  height: 100%;
  width: 100%;
  min-height: 800;
}
